@import url(//at.alicdn.com/t/font_2202236_ej6psbr69w9.css);
.fade-enter-active,
.fade-leave-active {
    -webkit-transition: opacity .28s;
    transition: opacity .28s
}

.fade-enter,
.fade-leave-active {
    opacity: 0
}

.fade-transform-enter-active,
.fade-transform-leave-active {
    -webkit-transition: all .5s;
    transition: all .5s
}

.fade-transform-enter {
    opacity: 0;
    -webkit-transform: translateX(-1.5rem);
    transform: translateX(-1.5rem)
}

.fade-transform-leave-to {
    opacity: 0;
    -webkit-transform: translateX(1.5rem);
    transform: translateX(1.5rem)
}

.breadcrumb-enter-active,
.breadcrumb-leave-active {
    -webkit-transition: all .5s;
    transition: all .5s
}

.breadcrumb-enter,
.breadcrumb-leave-active {
    opacity: 0;
    -webkit-transform: translateX(1rem);
    transform: translateX(1rem)
}

.breadcrumb-move {
    -webkit-transition: all .5s;
    transition: all .5s
}

.breadcrumb-leave-active {
    position: absolute
}

.el-breadcrumb__inner,
.el-breadcrumb__inner a {
    font-weight: 400 !important
}

.el-upload input[type=file] {
    display: none !important
}

.el-upload__input {
    display: none
}

.el-dialog {
    -webkit-transform: none;
    transform: none;
    left: 0;
    position: relative;
    margin: 0 auto
}

.upload-container .el-upload {
    width: 100%
}

.upload-container .el-upload .el-upload-dragger {
    width: 100%;
    height: 10rem
}

.el-dropdown-menu a {
    display: block
}

.el-range-separator {
    box-sizing: content-box
}

#app .main-container {
    min-height: 100%;
    -webkit-transition: margin-left .28s;
    transition: margin-left .28s;
    margin-left: 11rem;
    position: relative
}

#app .sidebar-container {
    -webkit-transition: width .28s;
    transition: width .28s;
    width: 11rem !important;
    background-color: #304156;
    height: 100%;
    position: fixed;
    font-size: 0;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    overflow: hidden
}

#app .sidebar-container .horizontal-collapse-transition {
    -webkit-transition: width 0s ease-in-out, padding-left 0s ease-in-out, padding-right 0s ease-in-out;
    transition: width 0s ease-in-out, padding-left 0s ease-in-out, padding-right 0s ease-in-out
}

#app .sidebar-container .scrollbar-wrapper {
    overflow-x: hidden !important
}

#app .sidebar-container .el-scrollbar__bar.is-vertical {
    right: 0
}

#app .sidebar-container .el-scrollbar {
    height: 100%
}

#app .sidebar-container.has-logo .el-scrollbar {
    height: calc(100% - 2.5rem)
}

#app .sidebar-container .is-horizontal {
    display: none
}

#app .sidebar-container a {
    display: inline-block;
    width: 100%;
    overflow: hidden
}

#app .sidebar-container .svg-icon {
    margin-right: .8rem
}

#app .sidebar-container .sub-el-icon {
    margin-right: .6rem;
    margin-left: -.1rem
}

#app .sidebar-container .el-menu {
    border: none;
    height: 100%;
    width: 100% !important
}

#app .sidebar-container .el-submenu__title:hover,
#app .sidebar-container .submenu-title-noDropdown:hover {
    background-color: #263445 !important
}

#app .sidebar-container .is-active>.el-submenu__title {
    color: #f4f4f5 !important
}

#app .sidebar-container .el-submenu .el-menu-item,
#app .sidebar-container .nest-menu .el-submenu>.el-submenu__title {
    min-width: 11rem !important;
    background-color: #1f2d3d !important
}

#app .sidebar-container .el-submenu .el-menu-item:hover,
#app .sidebar-container .nest-menu .el-submenu>.el-submenu__title:hover {
    background-color: #001528 !important
}

#app .hideSidebar .sidebar-container {
    width: 2.7rem !important
}

#app .hideSidebar .main-container {
    margin-left: 2.7rem
}

#app .hideSidebar .submenu-title-noDropdown {
    padding: 0 !important;
    position: relative
}

#app .hideSidebar .submenu-title-noDropdown .el-tooltip {
    padding: 0 !important
}

#app .hideSidebar .submenu-title-noDropdown .el-tooltip .svg-icon {
    margin-left: 1rem
}

#app .hideSidebar .submenu-title-noDropdown .el-tooltip .sub-el-icon {
    margin-left: .95rem
}

#app .hideSidebar .el-submenu {
    overflow: hidden
}

#app .hideSidebar .el-submenu>.el-submenu__title {
    padding: 0 !important
}

#app .hideSidebar .el-submenu>.el-submenu__title .svg-icon {
    margin-left: 1rem
}

#app .hideSidebar .el-submenu>.el-submenu__title .sub-el-icon {
    margin-left: .95rem
}

#app .hideSidebar .el-submenu>.el-submenu__title .el-submenu__icon-arrow {
    display: none
}

#app .hideSidebar .el-menu--collapse .el-submenu>.el-submenu__title>span {
    height: 0;
    width: 0;
    overflow: hidden;
    visibility: hidden;
    display: inline-block
}

#app .el-menu--collapse .el-menu .el-submenu {
    min-width: 11rem !important
}

#app .mobile .main-container {
    margin-left: 0
}

#app .mobile .sidebar-container {
    -webkit-transition: -webkit-transform .28s;
    transition: -webkit-transform .28s;
    transition: transform .28s;
    transition: transform .28s, -webkit-transform .28s;
    width: 11rem !important
}

#app .mobile.hideSidebar .sidebar-container {
    pointer-events: none;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transform: translate3d(-11rem, 0, 0);
    transform: translate3d(-11rem, 0, 0)
}

#app .withoutAnimation .main-container,
#app .withoutAnimation .sidebar-container {
    -webkit-transition: none;
    transition: none
}

.el-menu--vertical>.el-menu .svg-icon {
    margin-right: .8rem
}

.el-menu--vertical>.el-menu .sub-el-icon {
    margin-right: .6rem;
    margin-left: -.1rem
}

.el-menu--vertical .el-menu-item:hover,
.el-menu--vertical .nest-menu .el-submenu>.el-submenu__title:hover {
    background-color: #263445 !important
}

.el-menu--vertical>.el-menu--popup {
    max-height: 100vh;
    overflow-y: auto
}

.el-menu--vertical>.el-menu--popup::-webkit-scrollbar-track-piece {
    background: #d3dce6
}

.el-menu--vertical>.el-menu--popup::-webkit-scrollbar {
    width: .3rem
}

.el-menu--vertical>.el-menu--popup::-webkit-scrollbar-thumb {
    background: #99a9bf;
    border-radius: 1rem
}

@font-face {
    font-family: sad;
    src: url(../../static/fonts/sad.53df313a.ttf)
}

.font-sad {
    font-family: sad
}

@font-face {
    font-family: pmzd;
    src: url(../../static/fonts/pmzd.ce938a71.ttf)
}

.font-pmzd {
    font-family: pmzd
}

@font-face {
    font-family: FZZZHONGJW;
    src: url(../../static/fonts/FZZZHONGJW.72b10f8a.ttf)
}

.font-FZZZHONGJW {
    font-family: FZZZHONGJW
}

.gcani.gcani__delay-100 {
    -webkit-animation-delay: .1s;
    animation-delay: .1s
}

.gcani.gcani__delay-200 {
    -webkit-animation-delay: .2s;
    animation-delay: .2s
}

.gcani.gcani__delay-300 {
    -webkit-animation-delay: .3s;
    animation-delay: .3s
}

.gcani.gcani__delay-400 {
    -webkit-animation-delay: .4s;
    animation-delay: .4s
}

.gcani.gcani__delay-500 {
    -webkit-animation-delay: .5s;
    animation-delay: .5s
}

.gcani.gcani__delay-600 {
    -webkit-animation-delay: .6s;
    animation-delay: .6s
}

.gcani.gcani__delay-700 {
    -webkit-animation-delay: .7s;
    animation-delay: .7s
}

.gcani.gcani__delay-800 {
    -webkit-animation-delay: .8s;
    animation-delay: .8s
}

.gcani.gcani__delay-900 {
    -webkit-animation-delay: .9s;
    animation-delay: .9s
}

.gcani.gcani__delay-1000 {
    -webkit-animation-delay: 1s;
    animation-delay: 1s
}

.gcani.gcani__delay-1100 {
    -webkit-animation-delay: 1.1s;
    animation-delay: 1.1s
}

.gcani.gcani__delay-1200 {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s
}

.gcani.gcani__delay-1300 {
    -webkit-animation-delay: 1.3s;
    animation-delay: 1.3s
}

.gcani.gcani__delay-1400 {
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s
}

.gcani.gcani__delay-1500 {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s
}

.gcani.gcani__delay-1600 {
    -webkit-animation-delay: 1.6s;
    animation-delay: 1.6s
}

.gcani.gcani__delay-1700 {
    -webkit-animation-delay: 1.7s;
    animation-delay: 1.7s
}

.gcani.gcani__delay-1800 {
    -webkit-animation-delay: 1.8s;
    animation-delay: 1.8s
}

.gcani.gcani__delay-1900 {
    -webkit-animation-delay: 1.9s;
    animation-delay: 1.9s
}

.gcani.gcani__delay-2000 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s
}

.gcani.gcani__delay-2100 {
    -webkit-animation-delay: 2.1s;
    animation-delay: 2.1s
}

.gcani.gcani__delay-2200 {
    -webkit-animation-delay: 2.2s;
    animation-delay: 2.2s
}

.gcani.gcani__delay-2300 {
    -webkit-animation-delay: 2.3s;
    animation-delay: 2.3s
}

.gcani.gcani__delay-2400 {
    -webkit-animation-delay: 2.4s;
    animation-delay: 2.4s
}

.gcani.gcani__delay-2500 {
    -webkit-animation-delay: 2.5s;
    animation-delay: 2.5s
}

.gcani.gcani__delay-2600 {
    -webkit-animation-delay: 2.6s;
    animation-delay: 2.6s
}

.gcani.gcani__delay-2700 {
    -webkit-animation-delay: 2.7s;
    animation-delay: 2.7s
}

.gcani.gcani__delay-2800 {
    -webkit-animation-delay: 2.8s;
    animation-delay: 2.8s
}

.gcani.gcani__delay-2900 {
    -webkit-animation-delay: 2.9s;
    animation-delay: 2.9s
}

.gcani.gcani__delay-3000 {
    -webkit-animation-delay: 3s;
    animation-delay: 3s
}

.gcani.gcani__delay-3100 {
    -webkit-animation-delay: 3.1s;
    animation-delay: 3.1s
}

.gcani.gcani__delay-3200 {
    -webkit-animation-delay: 3.2s;
    animation-delay: 3.2s
}

.gcani.gcani__delay-3300 {
    -webkit-animation-delay: 3.3s;
    animation-delay: 3.3s
}

.gcani.gcani__delay-3400 {
    -webkit-animation-delay: 3.4s;
    animation-delay: 3.4s
}

.gcani.gcani__delay-3500 {
    -webkit-animation-delay: 3.5s;
    animation-delay: 3.5s
}

.gcani.gcani__delay-3600 {
    -webkit-animation-delay: 3.6s;
    animation-delay: 3.6s
}

.gcani.gcani__delay-3700 {
    -webkit-animation-delay: 3.7s;
    animation-delay: 3.7s
}

.gcani.gcani__delay-3800 {
    -webkit-animation-delay: 3.8s;
    animation-delay: 3.8s
}

.gcani.gcani__delay-3900 {
    -webkit-animation-delay: 3.9s;
    animation-delay: 3.9s
}

.gcani.gcani__delay-4000 {
    -webkit-animation-delay: 4s;
    animation-delay: 4s
}

.gcani.gcani__delay-4100 {
    -webkit-animation-delay: 4.1s;
    animation-delay: 4.1s
}

.gcani.gcani__delay-4200 {
    -webkit-animation-delay: 4.2s;
    animation-delay: 4.2s
}

.gcani.gcani__delay-4300 {
    -webkit-animation-delay: 4.3s;
    animation-delay: 4.3s
}

.gcani.gcani__delay-4400 {
    -webkit-animation-delay: 4.4s;
    animation-delay: 4.4s
}

.gcani.gcani__delay-4500 {
    -webkit-animation-delay: 4.5s;
    animation-delay: 4.5s
}

.gcani.gcani__delay-4600 {
    -webkit-animation-delay: 4.6s;
    animation-delay: 4.6s
}

.gcani.gcani__delay-4700 {
    -webkit-animation-delay: 4.7s;
    animation-delay: 4.7s
}

.gcani.gcani__delay-4800 {
    -webkit-animation-delay: 4.8s;
    animation-delay: 4.8s
}

.gcani.gcani__delay-4900 {
    -webkit-animation-delay: 4.9s;
    animation-delay: 4.9s
}

.gcani.gcani__delay-5000 {
    -webkit-animation-delay: 5s;
    animation-delay: 5s
}

.gcani.gcani__delay-5100 {
    -webkit-animation-delay: 5.1s;
    animation-delay: 5.1s
}

.gcani.gcani__delay-5200 {
    -webkit-animation-delay: 5.2s;
    animation-delay: 5.2s
}

.gcani.gcani__delay-5300 {
    -webkit-animation-delay: 5.3s;
    animation-delay: 5.3s
}

.gcani.gcani__delay-5400 {
    -webkit-animation-delay: 5.4s;
    animation-delay: 5.4s
}

.gcani.gcani__delay-5500 {
    -webkit-animation-delay: 5.5s;
    animation-delay: 5.5s
}

.gcani.gcani__delay-5600 {
    -webkit-animation-delay: 5.6s;
    animation-delay: 5.6s
}

.gcani.gcani__delay-5700 {
    -webkit-animation-delay: 5.7s;
    animation-delay: 5.7s
}

.gcani.gcani__delay-5800 {
    -webkit-animation-delay: 5.8s;
    animation-delay: 5.8s
}

.gcani.gcani__delay-5900 {
    -webkit-animation-delay: 5.9s;
    animation-delay: 5.9s
}

.gcani.gcani__delay-6000 {
    -webkit-animation-delay: 6s;
    animation-delay: 6s
}

.gcani.gcani__delay-6100 {
    -webkit-animation-delay: 6.1s;
    animation-delay: 6.1s
}

.gcani.gcani__delay-6200 {
    -webkit-animation-delay: 6.2s;
    animation-delay: 6.2s
}

.gcani.gcani__delay-6300 {
    -webkit-animation-delay: 6.3s;
    animation-delay: 6.3s
}

.gcani.gcani__delay-6400 {
    -webkit-animation-delay: 6.4s;
    animation-delay: 6.4s
}

.gcani.gcani__delay-6500 {
    -webkit-animation-delay: 6.5s;
    animation-delay: 6.5s
}

.gcani.gcani__delay-6600 {
    -webkit-animation-delay: 6.6s;
    animation-delay: 6.6s
}

.gcani.gcani__delay-6700 {
    -webkit-animation-delay: 6.7s;
    animation-delay: 6.7s
}

.gcani.gcani__delay-6800 {
    -webkit-animation-delay: 6.8s;
    animation-delay: 6.8s
}

.gcani.gcani__delay-6900 {
    -webkit-animation-delay: 6.9s;
    animation-delay: 6.9s
}

.gcani.gcani__delay-7000 {
    -webkit-animation-delay: 7s;
    animation-delay: 7s
}

.gcani.gcani__delay-7100 {
    -webkit-animation-delay: 7.1s;
    animation-delay: 7.1s
}

.gcani.gcani__delay-7200 {
    -webkit-animation-delay: 7.2s;
    animation-delay: 7.2s
}

.gcani.gcani__delay-7300 {
    -webkit-animation-delay: 7.3s;
    animation-delay: 7.3s
}

.gcani.gcani__delay-7400 {
    -webkit-animation-delay: 7.4s;
    animation-delay: 7.4s
}

.gcani.gcani__delay-7500 {
    -webkit-animation-delay: 7.5s;
    animation-delay: 7.5s
}

.gcani.gcani__delay-7600 {
    -webkit-animation-delay: 7.6s;
    animation-delay: 7.6s
}

.gcani.gcani__delay-7700 {
    -webkit-animation-delay: 7.7s;
    animation-delay: 7.7s
}

.gcani.gcani__delay-7800 {
    -webkit-animation-delay: 7.8s;
    animation-delay: 7.8s
}

.gcani.gcani__delay-7900 {
    -webkit-animation-delay: 7.9s;
    animation-delay: 7.9s
}

.gcani.gcani__delay-8000 {
    -webkit-animation-delay: 8s;
    animation-delay: 8s
}

.gcani.gcani__delay-8100 {
    -webkit-animation-delay: 8.1s;
    animation-delay: 8.1s
}

.gcani.gcani__delay-8200 {
    -webkit-animation-delay: 8.2s;
    animation-delay: 8.2s
}

.gcani.gcani__delay-8300 {
    -webkit-animation-delay: 8.3s;
    animation-delay: 8.3s
}

.gcani.gcani__delay-8400 {
    -webkit-animation-delay: 8.4s;
    animation-delay: 8.4s
}

.gcani.gcani__delay-8500 {
    -webkit-animation-delay: 8.5s;
    animation-delay: 8.5s
}

.gcani.gcani__delay-8600 {
    -webkit-animation-delay: 8.6s;
    animation-delay: 8.6s
}

.gcani.gcani__delay-8700 {
    -webkit-animation-delay: 8.7s;
    animation-delay: 8.7s
}

.gcani.gcani__delay-8800 {
    -webkit-animation-delay: 8.8s;
    animation-delay: 8.8s
}

.gcani.gcani__delay-8900 {
    -webkit-animation-delay: 8.9s;
    animation-delay: 8.9s
}

.gcani.gcani__delay-9000 {
    -webkit-animation-delay: 9s;
    animation-delay: 9s
}

.gcani.gcani__delay-9100 {
    -webkit-animation-delay: 9.1s;
    animation-delay: 9.1s
}

.gcani.gcani__delay-9200 {
    -webkit-animation-delay: 9.2s;
    animation-delay: 9.2s
}

.gcani.gcani__delay-9300 {
    -webkit-animation-delay: 9.3s;
    animation-delay: 9.3s
}

.gcani.gcani__delay-9400 {
    -webkit-animation-delay: 9.4s;
    animation-delay: 9.4s
}

.gcani.gcani__delay-9500 {
    -webkit-animation-delay: 9.5s;
    animation-delay: 9.5s
}

.gcani.gcani__delay-9600 {
    -webkit-animation-delay: 9.6s;
    animation-delay: 9.6s
}

.gcani.gcani__delay-9700 {
    -webkit-animation-delay: 9.7s;
    animation-delay: 9.7s
}

.gcani.gcani__delay-9800 {
    -webkit-animation-delay: 9.8s;
    animation-delay: 9.8s
}

.gcani.gcani__delay-9900 {
    -webkit-animation-delay: 9.9s;
    animation-delay: 9.9s
}

.gcani.gcani__delay-10000 {
    -webkit-animation-delay: 10s;
    animation-delay: 10s
}

@-webkit-keyframes slide-in {
    0% {
        -webkit-transform: translateY(.5rem) scaleY(1.5);
        transform: translateY(.5rem) scaleY(1.5);
        opacity: 0
    }
}

.gcani.title-float p {
    font-size: .6rem
}

.gcani.title-float.splitting .char {
    -webkit-animation: slide-in 1.6s cubic-bezier(.2, 0, .1, 1) both;
    animation: slide-in 1.6s cubic-bezier(.2, 0, .1, 1) both;
    -webkit-animation-delay: calc(30ms*var(--char-index));
    animation-delay: calc(30ms*var(--char-index));
    will-change: transform;
    -webkit-transform-origin: top left;
    transform-origin: top left
}

.gcani.title-float.splitting.fast .char,
.gcani.title-float.splitting.gcani-hover:hover .char {
    -webkit-animation: slide-in .3s cubic-bezier(.2, 0, .1, 1) both;
    animation: slide-in .3s cubic-bezier(.2, 0, .1, 1) both;
    -webkit-animation-delay: calc(30ms*var(--char-index));
    animation-delay: calc(30ms*var(--char-index));
    will-change: transform;
    -webkit-transform-origin: top left;
    transform-origin: top left
}

@keyframes slide-in {
    0% {
        -webkit-transform: translateX(1.5rem) scale(0);
        transform: translateX(1.5rem) scale(0);
        opacity: 0
    }
}

.gcani.title-scale-left p {
    font-size: .6rem
}

.gcani.title-scale-left.splitting .char {
    -webkit-animation: slide-in .6s cubic-bezier(.2, 0, .1, 1) both;
    animation: slide-in .6s cubic-bezier(.2, 0, .1, 1) both;
    -webkit-animation-delay: calc(80ms*var(--char-index));
    animation-delay: calc(80ms*var(--char-index));
    will-change: transform;
    -webkit-transform-origin: center left;
    transform-origin: center left
}

.gcani.title-scale-bottom.mm-map-name {
    font-family: Open Sans, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 6vw;
    font-size: calc(100vw/var(--char-total));
    position: relative;
    padding: .4em 0;
    overflow: hidden
}

.gcani.title-scale-bottom.mm-map-name:after {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: .2em solid;
    -webkit-animation: underline 1s cubic-bezier(.8, 0, 0, 1);
    animation: underline 1s cubic-bezier(.8, 0, 0, 1);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

@-webkit-keyframes underline {
    0% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0)
    }
}

@keyframes underline {
    0% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0)
    }
}

.gcani.title-scale-bottom.mm-map-name .char {
    display: inline-block;
    -webkit-animation: slide-up 1.25s cubic-bezier(.5, .2, 0, 1);
    animation: slide-up 1.25s cubic-bezier(.5, .2, 0, 1);
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: calc(.5s + 0.1s*var(--word-index));
    animation-delay: calc(.5s + 0.1s*var(--word-index))
}

@-webkit-keyframes slide-up {
    0% {
        -webkit-transform: translateY(125%);
        transform: translateY(125%)
    }
}

@keyframes slide-up {
    0% {
        -webkit-transform: translateY(125%);
        transform: translateY(125%)
    }
}

.gcani.title-scale-bottom .splitting-mark {
    color: #fff !important
}

body {
    height: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif
}

label {
    font-weight: 700
}

html {
    line-height: inherit;
    box-sizing: border-box
}

#app,
html {
    height: 100%
}

*,
:after,
:before {
    box-sizing: inherit
}

a:active,
a:focus {
    outline: none
}

a,
a:focus,
a:hover {
    cursor: pointer;
    color: inherit;
    text-decoration: none
}

div:focus {
    outline: none
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

.app-container {
    padding: 1rem
}

.svg-icon[data-v-f9f7fefc] {
    width: 1em;
    height: 1em;
    vertical-align: -.15em;
    fill: currentColor;
    overflow: hidden
}

.svg-external-icon[data-v-f9f7fefc] {
    background-color: currentColor;
    -webkit-mask-size: cover !important;
    mask-size: cover !important;
    display: inline-block
}