.switch-radio-wapper[data-v-6703e28c] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center
}

.switch-radio-wapper .sr-text[data-v-6703e28c] {
    color: #7ec7ff;
    font-size: .7rem;
    margin-right: .7rem
}

.switch-radio-wapper>div[data-v-6703e28c] {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center
}

.switch-radio-wapper input[type=checkbox][data-v-6703e28c] {
    height: 0;
    width: 0;
    visibility: hidden
}

.switch-radio-wapper label[data-v-6703e28c] {
    cursor: pointer;
    text-indent: -499.95rem;
    width: 2rem;
    height: 1rem;
    background: #1a3650;
    display: block;
    border-radius: .5rem;
    position: relative
}

.switch-radio-wapper label[data-v-6703e28c]:after {
    content: "";
    position: absolute;
    top: .15rem;
    left: .15rem;
    width: .7rem;
    height: .7rem;
    background: #3a5c79;
    border-radius: 50%;
    -webkit-transition: .3s;
    transition: .3s
}

.switch-radio-wapper input:checked+label[data-v-6703e28c]:after {
    left: calc(100% - .15rem);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    background: #2ca1ff
}

.switch-radio-wapper label[data-v-6703e28c]:active:after {
    width: -1.5rem
}

.energy-consumption-wapper[data-v-52743ffc] {
    height: 100%;
    padding: 1rem 1rem 1rem 0
}

.energy-consumption-wapper .ec-mySwiper .swiper-wrapper[data-v-52743ffc],
.energy-consumption-wapper .ec-mySwiper[data-v-52743ffc] {
    height: 100%
}

.energy-consumption-wapper .ec-mySwiper .slide-list[data-v-52743ffc] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 2rem;
    width: 100%
}

.energy-consumption-wapper .ec-mySwiper .slide-list.slide-list[data-swiper-slide-index="0"]>span[data-v-52743ffc],
.energy-consumption-wapper .ec-mySwiper .slide-list.slide-list[data-swiper-slide-index="1"]>span[data-v-52743ffc],
.energy-consumption-wapper .ec-mySwiper .slide-list.slide-list[data-swiper-slide-index="2"]>span[data-v-52743ffc] {
    color: #eaba5f
}

.energy-consumption-wapper .ec-mySwiper .slide-list[data-v-52743ffc]:last-child {
    margin-bottom: 0
}

.energy-consumption-wapper .ec-mySwiper .slide-list>span[data-v-52743ffc] {
    width: 2rem;
    padding-left: .5rem;
    display: inline-block;
    color: #7ec7ff
}

.energy-consumption-wapper .ec-mySwiper .slide-list>div[data-v-52743ffc] {
    width: calc(100% - 2rem);
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column
}

.energy-consumption-wapper .ec-mySwiper .slide-list>div .ec-text[data-v-52743ffc] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    margin-bottom: .5rem
}

.energy-consumption-wapper .ec-mySwiper .slide-list>div .ec-text[data-v-52743ffc] :first-child {
    font-size: .7rem;
    color: #7ec7ff
}

.energy-consumption-wapper .ec-mySwiper .slide-list>div .ec-text[data-v-52743ffc] :last-child {
    font-size: .7rem;
    font-family: pmzd
}

.energy-consumption-wapper .ec-mySwiper .slide-list>div .ec-barBg[data-v-52743ffc] {
    width: 100%;
    background: #1f3a57;
    height: .1rem
}

.energy-consumption-wapper .ec-mySwiper .slide-list>div .ec-barBg .ec-bar[data-v-52743ffc] {
    background: #1eb8fd;
    background: -webkit-linear-gradient(left, #2ba1ff, #0bdafa);
    background: linear-gradient(90deg, #2ba1ff, #0bdafa);
    height: .1rem;
    width: 0;
    position: relative;
    -webkit-transition: width .3s;
    transition: width .3s
}

.energy-consumption-wapper .ec-mySwiper .slide-list>div .ec-barBg .ec-bar[data-v-52743ffc]:before {
    content: "";
    display: inline-block;
    width: .2rem;
    height: .2rem;
    border-radius: 50%;
    background: #b3dcff;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%) translateX(50%);
    transform: translateY(-50%) translateX(50%);
    box-shadow: 0 0 .4rem .1rem #b3dcff
}

.library-wapper[data-v-1d7dacec] {
    color: #fff
}

.library-wapper .library-left[data-v-1d7dacec],
.library-wapper .library-right[data-v-1d7dacec],
.library-wapper[data-v-1d7dacec] {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between
}

.library-wapper .library-left[data-v-1d7dacec],
.library-wapper .library-right[data-v-1d7dacec] {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    width: 21.3rem;
    min-width: 400Px;
    pointer-events: all
}

.library-wapper .library-left>div[data-v-1d7dacec],
.library-wapper .library-right>div[data-v-1d7dacec] {
    margin-bottom: .6rem
}

.library-wapper .library-left>div[data-v-1d7dacec]:last-child,
.library-wapper .library-right>div[data-v-1d7dacec]:last-child {
    margin-bottom: 0
}

.library-wapper .library-left .library-l-center[data-v-1d7dacec] {
    height: 8.9rem
}

.library-wapper .library-left .library-l-center .library-lc-main[data-v-1d7dacec] {
    padding: .5rem 0 .5rem 1rem
}

.library-wapper .library-left .library-l-center .library-lc-main .library-lc-bottom[data-v-1d7dacec],
.library-wapper .library-left .library-l-center .library-lc-main .library-lc-top[data-v-1d7dacec] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center
}

.library-wapper .library-left .library-l-center .library-lc-main .library-lc-bottom>div>span[data-v-1d7dacec]:first-child,
.library-wapper .library-left .library-l-center .library-lc-main .library-lc-top>div>span[data-v-1d7dacec]:first-child {
    color: #7ec7ff;
    font-size: .75rem;
    margin-right: .45rem
}

.library-wapper .library-left .library-l-center .library-lc-main .library-lc-bottom>div>span[data-v-1d7dacec]:last-child,
.library-wapper .library-left .library-l-center .library-lc-main .library-lc-top>div>span[data-v-1d7dacec]:last-child {
    color: #fff;
    font-size: .85rem
}

.library-wapper .library-left .library-l-center .library-lc-main .library-lc-top[data-v-1d7dacec] {
    margin-bottom: 1rem
}

.library-wapper .library-left .library-l-center .library-lc-main .library-lc-bottom>div span[data-v-1d7dacec]:first-child {
    position: relative
}

.library-wapper .library-left .library-l-center .library-lc-main .library-lc-bottom>div span[data-v-1d7dacec]:first-child:before {
    content: "";
    display: inline-block;
    width: .3rem;
    height: .3rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: -.6rem;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.library-wapper .library-left .library-l-center .library-lc-main .library-lc-bottom>div:first-child span[data-v-1d7dacec]:first-child {
    position: relative
}

.library-wapper .library-left .library-l-center .library-lc-main .library-lc-bottom>div:first-child span[data-v-1d7dacec]:first-child:before {
    background: #3aff35;
    box-shadow: 0 0 .5rem .05rem #3aff35
}

.library-wapper .library-left .library-l-center .library-lc-main .library-lc-bottom>div:nth-child(2) span[data-v-1d7dacec]:first-child {
    position: relative
}

.library-wapper .library-left .library-l-center .library-lc-main .library-lc-bottom>div:nth-child(2) span[data-v-1d7dacec]:first-child:before {
    background: #cacaca;
    box-shadow: 0 0 .5rem .05rem #cacaca
}

.library-wapper .library-left .library-l-center .library-lc-main .library-lc-bottom>div:nth-child(3) span[data-v-1d7dacec]:first-child {
    position: relative
}

.library-wapper .library-left .library-l-center .library-lc-main .library-lc-bottom>div:nth-child(3) span[data-v-1d7dacec]:first-child:before {
    background: #ff2424;
    box-shadow: 0 0 .5rem .05rem #ff2424
}

.library-wapper .library-left .library-l-top[data-v-1d7dacec] {
    height: 15.6rem
}

.library-wapper .library-left .library-l-top .library-lt-content[data-v-1d7dacec] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column
}

.library-wapper .library-left .library-l-top .library-lt-content li[data-v-1d7dacec],
.library-wapper .library-left .library-l-top .library-lt-content ul[data-v-1d7dacec] {
    list-style: none;
    margin: 0;
    padding: 0
}

.library-wapper .library-left .library-l-top .library-lt-content .library-lt-top[data-v-1d7dacec] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    margin: .5rem 0
}

.library-wapper .library-left .library-l-top .library-lt-content .library-lt-top li span[data-v-1d7dacec]:first-child {
    font-size: .7rem;
    color: #7ec7ff;
    margin-right: .6rem
}

.library-wapper .library-left .library-l-top .library-lt-content .library-lt-top li span[data-v-1d7dacec]:last-child {
    font-size: .8rem;
    color: #fff;
    font-family: pmzd
}

.library-wapper .library-left .library-l-top .library-lt-content .library-lt-bottom[data-v-1d7dacec] {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1
}

.library-wapper .library-left .library-l-bottom[data-v-1d7dacec] {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    min-height: 7.5rem
}

.library-wapper .library-left .library-l-bottom .library-lb-content[data-v-1d7dacec] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap
}

.library-wapper .library-left .library-l-bottom .library-lb-content>div[data-v-1d7dacec] {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    min-width: 33.333%;
    max-width: 33.333%;
    width: 33.333%
}

.library-wapper .library-left .library-l-bottom .library-lb-content>div[data-v-1d7dacec]:nth-child(3n+1),
.library-wapper .library-left .library-l-bottom .library-lb-content>div[data-v-1d7dacec]:nth-child(3n+2),
.library-wapper .library-left .library-l-bottom .library-lb-content>div[data-v-1d7dacec]:nth-child(3n+3) {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end
}

.library-wapper .library-right .library-r-top[data-v-1d7dacec] {
    height: 13.9rem
}

.library-wapper .library-right .library-r-top .library-rt-container[data-v-1d7dacec] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between
}

.library-wapper .library-right .library-r-top .library-rt-container .library-rt-header[data-v-1d7dacec] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 1.8rem;
    width: 100%;
    padding: 0 1rem;
    background: -webkit-linear-gradient(left, rgba(53, 90, 119, .7) 10%, hsla(0, 0%, 100%, 0));
    background: linear-gradient(90deg, rgba(53, 90, 119, .7) 10%, hsla(0, 0%, 100%, 0))
}

.library-wapper .library-right .library-r-top .library-rt-container .library-rt-header span[data-v-1d7dacec]:first-child {
    color: #7ec7ff;
    font-size: .8rem;
    margin-right: .85rem
}

.library-wapper .library-right .library-r-top .library-rt-container .library-rt-header span[data-v-1d7dacec]:last-child {
    font-size: 1rem;
    position: relative;
    top: .1rem
}

.library-wapper .library-right .library-r-top .library-rt-container .library-rt-content[data-v-1d7dacec] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center
}

.library-wapper .library-right .library-r-top .library-rt-container .library-rt-content .library-rtc-left[data-v-1d7dacec],
.library-wapper .library-right .library-r-top .library-rt-container .library-rt-content .library-rtc-right[data-v-1d7dacec] {
    width: 50%;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center
}

.library-wapper .library-right .library-r-top .library-rt-container .library-rt-content .library-rtc-left img[data-v-1d7dacec],
.library-wapper .library-right .library-r-top .library-rt-container .library-rt-content .library-rtc-right img[data-v-1d7dacec] {
    width: 6.25rem
}

.library-wapper .library-right .library-r-top .library-rt-container .library-rt-content .library-rtc-left .l-rtc-number[data-v-1d7dacec],
.library-wapper .library-right .library-r-top .library-rt-container .library-rt-content .library-rtc-right .l-rtc-number[data-v-1d7dacec] {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-family: pmzd
}

.library-wapper .library-right .library-r-top .library-rt-container .library-rt-content .library-rtc-left .l-rtc-text[data-v-1d7dacec],
.library-wapper .library-right .library-r-top .library-rt-container .library-rt-content .library-rtc-right .l-rtc-text[data-v-1d7dacec] {
    margin-top: .8rem;
    color: #7ec7ff;
    font-size: .8rem
}

.library-wapper .library-right .library-r-top .library-rt-container .library-rt-content .library-rtc-left .l-rtc-number[data-v-1d7dacec] {
    color: #2ca1ff
}

.library-wapper .library-right .library-r-top .library-rt-container .library-rt-content .library-rtc-right .l-rtc-number[data-v-1d7dacec] {
    color: #eaba5f
}

.library-wapper .library-right .library-r-center[data-v-1d7dacec] {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    min-height: 8rem
}

.library-wapper .library-right .library-r-center .library-rc-container[data-v-1d7dacec] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column
}

.library-wapper .library-right .library-r-center .library-rc-container .library-rc-header[data-v-1d7dacec] {
    padding-left: 2rem;
    padding-right: 1rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    font-size: .7rem;
    color: #658ba8
}

.library-wapper .library-right .library-r-center .library-rc-container .library-rc-content[data-v-1d7dacec] {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    height: 0
}

.library-wapper .library-right .library-r-bottom[data-v-1d7dacec] {
    height: 30vh
}